.background_img{
    background-image: url('Ebookbgimg.jpg');
    background-size: cover;
    height:350px;
    border-radius: 0 ;
}


.search_course{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}
.newregister{
    width: 65%;
    margin: 20px;
    padding: 30px;
    background-color: rgb(241, 97, 97);
}
form input{
    margin: 10px;

}
.contact_area{
    text-align: center;
}
.contact{

    padding: 30px;
}
.address{
    margin-top: 30px;
}
.icon i{
    padding: 10px;
    margin: 20px;
}
.footer_row{
    background-color: rgb(43, 199, 43);
    padding: 10px;
}
.icon{
    color: blue;
}
.footer_row ul {
    list-style: none;
}
.footer_row ul li i{
    color: black;
    margin: 0 5px;
}
.footer_row ul li a{
    color: white;
    font-size: 15px;
}
.footer_row ul li a:hover{
    color:blue;
}




